.card-list-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 1200px; /* Adjust the width as needed */
}

.list-header {
  font-size: 20px;
  color: #0c0c0c;
  font-weight: bold;
  margin-bottom: 20px; /* Add some space between the header and the card list */
  text-align: start; /* Center the text */
}

.card-list {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  white-space: nowrap;
  overflow: hidden; /* Prevent items from wrapping to a new line */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 248px;
  height: 350px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.content1 {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.recommended {
  background-color: #FF4742;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 8px;
  cursor: pointer;
}

.title1 {
  font-size: 15px;
  font-weight: bold;
  margin: 8px 0;
  color: #0c0c0c;
  font-style: italic;
  flex-grow: 1;
  word-wrap: break-word; /* Ensure text wraps to the next line */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  display: flex;
  font-size: 14px;
  color: #777;
  margin: 8px 0;
  flex-grow: 1;
  word-wrap: break-word; /* Ensure text wraps to the next line */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reserve-button {
  color: #FF4742;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.description {
  display: flex;
  font-size: 14px;
  color: #777;
  margin: 8px 0;
  flex-grow: 1;
  word-wrap: break-word; /* Ensure text wraps to the next line */
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-button {
  background-color: #FF4742;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 8px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.scroll-button svg {
  display: block;
}
